{% extends 'layout.html.twig' %}

{% block page %}
    <h1>DEMO</h1>
    <div>
        <h4>Identifiant admin :</h4>
        <b>Login : </b>admin<br/>
        <b>Mot de passe : </b>demo
    </div>
    <div>
        <h4>Identifiant contributeur</h4>
        <b>Login : </b>contributeur<br/>
        <b>Mot de passe : </b>demo
    </div>
    <br/><br/>
    <div>
        <a href="{{ url('easyadmin') }}">Accéder au backoffice</a>
    </div>
{% endblock %}