###> symfony/framework-bundle ###
/www/.env
/www/var/
/www/vendor/
/www/web/bundles/
###< symfony/framework-bundle ###
###> symfony/web-server-bundle ###
/www/.web-server-pid
###< symfony/web-server-bundle ###
###> docker ###
docker/var
###< docker ###