###> symfony/framework-bundle ###
.env
/var/
/vendor/
/web/bundles/
/web/uploads/
###< symfony/framework-bundle ###
###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
