{% set colors = field_options.label_colors|default(['primary']) %}

{% for tag in value %}
    <a class="label label-{{ cycle(colors, loop.index) }}" href="{{ path('easyadmin', link_parameters|merge({ id: tag.id })) }}">{{ tag | easyadmin_truncate }}</a>
{% endfor %}